<div class="col-3 mt-2">
    <div class="form-group">


    </div>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Home
    </button>
    
    <div class="Trainee">
        <a href="@Url.Action("index","Staff")">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Trainee Account
            </button>
        </a>
        <a href="@Url.Action("CreateTrainee","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Add new Trainee Account
            </button>
        </a>
    </div>
   
    <div class="trainer">
        <a href="@Url.Action("ViewAllTrainer","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                View trainer
            </button>
        </a>
        <a href="@Url.Action("ViewAllTrainer","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Create new trainer
            </button>
        </a>
    </div>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Categories
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Course
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Topic
    </button>
    <div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Assign</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Trainer Topic
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Trainer course
    </button>
</div>
