<div class="col-3 mt-2">
    @*<div class="form-group">

        <select class="form-control" id="exampleFormControlSelect1">
            <option>DashBoard</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>*@
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Home
    </button>
    @*<div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Training Account</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>*@
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Trainee Account
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Add new Trainee Account
    </button>
    @*<div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Course</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>*@
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Categories
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Course
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Topic
    </button>
    @*<div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Assign</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>*@
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Trainer Topic
    </button>
    <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Trainer course
    </button>
</div>
